.page-container{

    min-height: 100vh;
    padding: 15px;
    box-sizing: border-box;
  
    border: 2px solid blue;
  }
  
  .info-container{
    display: flex;
  
    justify-content: center;
  
    margin: 0.5rem;
    width: 95vw;
    height: 75vh;
    border: 2px solid orange;
    
  }
  
  .left-div{
    
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 40vw;
    height: 60vh;
    margin: 1rem;
    border: 2px solid green;
  }
  
  .right-div{
  
    width: 40vw;
    height: 60vh;
    margin: 1rem;
    border: 2px solid purple;
  }