h1{
    font-size: 3rem;
}

.title-div{
    
    /* border: 2px solid yellow; */
}

.navbar-div{
    display: flex;
    justify-content: space-around;
    
    width: 95vw;
    margin: 0.5rem;
    border: 2px solid red;
}